/* Establecemos los tama;os de html y body como el 100% de la pantalla */

html, body{
  height: 100%;
  background: #f3120c;
  min-width: 100%;
}


/* 

Tama;o  y caracteristicas 
  del header 

*/

.header{
  height:25%;
  background: #cc6601;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.header_image{
  height: 100%;
  background-image: url("../img/texturaFondo.jpg");
  padding-top: 5px
}

/* codigo para centrar nuestras imagenes */

.center_image{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  max-width: calc(100% / 3 - 26px);
  height: auto;
}

/* color del cuerpo de la pagina: */

.body_container{
  background: #f3120c;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0;
  height: 75%;
}

/* contenedor del juego con el fondo negro */

.game_info_container{
  background: black;
  padding: 30px 30px 50px 50px;
  margin: 0;
  min-height: 100%

}

/* contenedor del juego, que tiene como fondo la textura */

.game_container{
  text-align:center;
  background-image: url("../img/texturaFondo2.jpg");
  display:inline-block;
  min-width: 375px;
  min-height: 400px;
  max-width: 800px;
}

/* codigo para que nuestras imagenes se reescalen apropiadamente */

.fit-image {
  max-height: 95%;
  width: auto;
}


/* vistas que son escondidas al principio */

.vista-juego, .vista-seleccion-imagen, .vista-resumir-juego, .vista-menu-inicial, .vista-seleccion-imagen-niveles {
  display: none;
}

/* Mas vistas que son escondidas */

.vista-textos-explicativos{
  display: none;
}

/* Letra del Menu inicial */

.letra-menu{
  padding-top: 15px;
  padding-bottom: 15px;
  cursor:pointer;
}

/* */

.center-niveles{
  position:absolute;
  top:50%;
  color: "white"; 
  left:85%; 
  padding:10px;
}
/* Boton de guardar en el juego */

.boton-guardar{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius:8px;
  background-color:#cc6500;
  border: 1px solid black;
}

/* Esto hace que todo lo de la clase link
   transforme el cursor correctamente a
   lo que se esperaria (una manito)
*/

*.link{
  cursor: pointer;
}

/* Esto hace que el puntero en cosas de texto sea normal */

*.not-text{
  cursor: default;
}

/* hace que todo lo que tenga la clase unselectable
    sea en verdad unselectable (es necesario por que
    varios browsers hacen varias cosas diferentes)
*/

[unselectable=on]{
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}